@import url('../vendor/normalize.css');
@import url('variables.css');
@import url('animations.css');

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.section-title,
.section-subtitle {
  z-index: 1;
  width: 60%;
  text-align: center;
}

.section-title {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.15;
}

.section-subtitle {
  margin: 20px 0 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.section-title_theme_dark,
.section-subtitle_theme_dark {
  color: var(--white);
}

.description,
.techniques,
.video,
.oakley,
.feynman,
.digits,
.khan,
.kaufman,
.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

/* animations */

.animation_type_hide {
  opacity: 1;
  transition: opacity .1s;
}

.animation_type_hide:hover {
  opacity: .6;
}

.animation_type_rotation {
  animation: rotation 20s linear infinite;
}

/* header */

.logo {
  z-index: 1;
  width: 228px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  align-items: center;
  background-color: var(--bg-gray);
}

.header__square-pic {
  position: absolute;
  z-index: 0;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: var(--accent-blue);
}

.header__title {
  z-index: 1;
  width: 730px;
  padding: 0;
  margin: 0 0 0 64px;
  font-size: 102px;
  line-height: 96px;
}

.header__subtitle {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 64px;
  width: 388px;
  margin: 0;
  font-size: 18px;
  line-height: 25px;
}

.header__main-illustration {
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
  width: 765px;
}

.header__link {
  color: var(--accent-blue);
  text-decoration: none;
}

/* description */

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  color: var(--accent-blue);
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 34px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 700;
}

/* techniques */

.one-column {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
}

.cards,
.table {
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.cards {
  max-width: 920px;
}

.cards__row {
  display: flex;
  padding-top: 60px;
}

.cards__item {
  max-width: 240px;
  margin-right: 100px;
  text-align: center;
}

.cards__item:last-child {
  margin: 0;
}

.cards__image {
  width: 160px;
  border-radius: 50%;
}

.cards__title {
  padding: 43px 0 0;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.15;
}

.cards__description {
  padding: 16px 0 0;
  margin: 0;
  font-size: 18px;
  line-height: 23px;
}

/* video */

.video {
  margin-bottom: -60px;
}

.video__iframes {
  padding-top: 50px;
  font-size: 0;
}

.video__iframe {
  width: 515px;
  height: 316px;
  padding: 0;
  border: none;
  margin: 0;
}

.video__iframe:first-child {
  margin-right: 20px;
}

/* oakley */

.oakley {
  padding-top: 160px;
  background: var(--bg-gray);
}

/* digits */

.digits {
  padding: 100px 0;
}

.table {
  width: 1100px;
}

.table__cell {
  width: 250px;
  padding: 0;
  margin: 60px 0 0;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  color: var(--white);
}

.table__heading {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.15;
}

.table__text {
  margin: 20px 0 0;
  font-size: 18px;
  line-height: 1.2;
}

/* khan */

.khan {
  margin-top: 105px;
  background: var(--bg-gray);
}

.khan__container {
  width: 80%;
}

.khan__author,
.buy-link {
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 42px;
}

.khan__title {
  padding: 0;
  margin: 0;
  font-size: 60px;
  line-height: 1.15;
}

.khan__quote,
.khan__quote-field,
.khan__quote-text {
  padding: 0;
  margin: 0;
}

.khan__quote {
  padding-top: 50px;
  font-size: 24px;
  line-height: 34px;
}

.khan__quote-text {
  width: 790px;
}

.khan__quote-author,
.khan__quote-author-subline {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.15;
}

.khan__quote-author {
  padding-top: 36px;
}

.khan__quote-author-subline {
  padding-top: 10px;
  font-style: normal;
  font-weight: 400;
}

.book-container {
  display: flex;
  overflow: hidden;
  max-height: 608px;
  align-items: start;
  padding-top: 68px;
}

.book-pic {
  width: 620px;
}

.buy-link {
  padding-left: 48px;
  color: var(--accent-blue);
}

/* feynman */

.feynman {
  position: relative;
  min-height: 890px;
  padding: 0;
  background: var(--bg-gray) url('../images/feynman.png') no-repeat left bottom;
  background-size: 867px;
}

.feynman__title {
  width: 648px;
  margin: 100px 0 0;
  font-size: 120px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
}

.feynman__subtitle {
  margin: 70px 0 0;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  margin: 0;
  color: var(--accent-blue);
  font-size: 36px;
  line-height: 51px;
  text-decoration: none;
}

/* kaufman */

.kaufman {
  position: relative;
  overflow: hidden;
  padding: 90px 0;
  background: var(--bg-dark);
}

.kaufman-triangle {
  position: absolute;
  z-index: 0;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  background-image: url('../images/kaufman-triangle.svg');
  background-size: cover;
}

/* resources */

.resources {
  padding: 100px 0 217px;
}

.resources__logo-zone {
  display: flex;
  max-width: 1100px;
  padding: 80px 0 0;
  margin: 0;
  list-style-type: none;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

/* footer */

.footer {
  display: flex;
  min-height: 350px;
  box-sizing: border-box;
  justify-content: center;
  padding: 60px 0 40px;
  background: var(--bg-dark);
}

.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__author {
  padding: 10px 0;
  margin: 0;
  color: var(--white);
  font-size: 18px;
  line-height: 25px;
}

.footer__column-heading,
.footer__column-link {
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.footer__column-heading {
  margin: 0;
  font-weight: 700;
}

.footer__column-links {
  padding: 0;
  margin: 20px 0 16px;
  list-style-type: none;
}

.footer__column-link {
  font-weight: normal;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  margin-right: 10px;
}
